<h1>Password Reset</h1>

<p><%= @greeting %>,  <%= @user.first_name %>!</p>


<p>
You have requested to reset your password.<br />

To choose a new password, just follow this link : <%= link_to "Password Reset", @url %>

</p>

<p>
Happy Dindring! <br />
Dindr Team
</p>
