<h1>Welcome to Dindr</h1>

<p>
  Hey <%= @user.first_name %>, you're the best! #Ariane
</p>

<p>
  You should go checkout <%= link_to "The GAME", homes_url(host: 'http://localhost:3000/') %>!
  <!-- host: name should be changed to our own website url -->
</p>
