<div class="container" id="results-page">

    <div class="top-cuis">
      <h1>Types of Food you may ENJOY!</h1>
      <p>See your favourites here:</p>
    </div>


    <div class="half-width-container" id="top-cuisines">
      <%= render 'top3_cuisines' %>
    </div>

    <div class="half-width-container" id="top-tags">
      <%= render 'tags/top3_tags' %>
    </div>

    <div class="outsource">
      <form class="reservation" action="http://www.opentable.com/" method="get">
        <input type="submit" value="Book Your Reservation!">
      </form>

      <form class="order-in" action="https://www.foodora.ca/" method="get">
        <input type="submit" value="Order In!">
      </form>


    <div class="result-restaurants" >

    </div>

</div>
