<h1>Top Cuisines</h1>
<p>See your favourites here:</p>

<div class="container" id="results-page">

<div class="top-cuisines">
  <%= render 'top3_cuisines' %>
</div>

<div class="top-tags">
  <%= render 'tags/top3_tags' %>
</div>


<div class="result-restaurants">

</div>

</div>
