<div class="container" id="results-page">

    <div class="top-cuis">
      <h1>Here are your results!</h1>
    </div>


    <div class="half-width-container" id="top-cuisines">
      <%= render 'top3_cuisines' %>
    </div>

    <div class="half-width-container" id="top-tags">
      <%= render 'tags/top3_tags' %>
    </div>



      <div class="result-restaurants" >
      </div>

    </div>

</div>
