<div class="container" id="date-page">
<!-- Potentially have to put this all into a cuisines controller of its own -->
<!-- Instead of applying this into the user/cuisines... have it in its own route and model -->
  <div class="cuisine-title">
    <h1>Find a Dindr Guest/Date for...</h1>
    <h2><%= @cuisine.name %>!</h2>
  </div>











</div>
