<div>
  <% @users.each do |user| %>

  <div>
    <% if user.id == current_user.id %>

    <% else %>

    <div>
        <%= image_tag user.profile_pic.url, class: "dindr-date-pic", data: {datecuisine: "#{@cuis}", acceptuserId: user.id, acceptuserName: user.first_name, currentuserid: current_user.id } %>
    </div>

    <div class="dindr-date-info">
          <%= user.first_name %> <%= user.last_name %>
    </div>

    <% end %>
  </div>
  <% end %>

</div>
