<div>
  <% @users.each do |user| %>
  <div>
    <% if user.id == current_user.id %>
      <% break; %>
    <% else %>
      <%= image_tag user.profile_pic.url %>
      <li>
        <%= user.first_name %>, <%= user.last_name %>
      </li>
    <% end %>
  </div>
  <% end %>
</div>
