<div>
  <% @users.each do |user| %>

  <div>
    <% if user.id == current_user.id %>
    
    <% else %>

    <div class="dindr-date-pic">
        <%= image_tag user.profile_pic.url %>
    </div>

    <div class="dindr-date-info">
          <%= user.first_name %> <%= user.last_name %>
    </div>

    <% end %>
  </div>
  <% end %>

</div>
