<div class="container" id="profile-page">
  <h1><%= current_user.first_name %> <%= current_user.last_name %>'s Profile</h1>
    <li>Email: <%= current_user.email %></li>
    <li><%= link_to "Edit Profile", edit_user_path %></li>
</div>
