// Homepage Button

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#homepage-widget {
  margin: 2rem auto 0 3.8%;
}

#button {
  width: 300px;
  margin: 15% auto 0;
  position: relative;
  z-index: 1;
  text-align: center;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}

#click-here-to-dindr {
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff5252;
  border: 2px solid #ff5252;
  padding: 10px;
  position: relative;
  display: block;
  text-align: center;
  box-sizing: border-box;
  z-index: 1;
  width: 300px;
  background-color: transparent;


  &::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(1,0.7,0.2,1);
    -moz-transition: all .8s cubic-bezier(1,0.1,0.2,1);
    transition: all .8s cubic-bezier(0.25,0.1,0.2,1);
    content: "";
    background-color: #F7DC6F;
    position: absolute;
    top: -150px;
    right: auto;
    left: -10px;
    z-index: -1;
    width: 0;
    height: 300px;
  }

  &:hover::before {
    transform: rotate(70deg);
    width: 1000px;
  }
}

// Show restaurants button

$green: #1ECD97;
$gray: #bbbbbb;
$pink: #E91E63;

#show-rests-button {
  font-family: 'Roboto', sans-serif;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    // content:"Show Restaurants";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$green;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$green;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $green;

}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Find dates button
#show-date-button {
  font-family: 'Roboto', sans-serif;
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #fff;
  border: 2px solid $pink;
  color:$pink;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $pink;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
  &:after {
    // content:"Show Restaurants";
  }
}
.onclic {
  width: 40px;
  border-color:$gray;
  border-width:3px;
  font-size:0;
  border-left-color:$pink;
  animation: rotating 2s 0.25s linear infinite;

  &:after {
    content:"";
  }
  &:hover {
    color:$pink;
    background: white;
  }
}
.validate {
  font-size:13px;
  color: white;
  background: $pink;

}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
