<div class="container" id="dindr-date-invitations">

<h1>Your Dindr Dates for <%= Time.now.strftime("%B %d, %Y") %></h1>

  <div class="dates-pending">
    <%= render '/invitations/invitations' %>
  </div>

</div>
