<div class="container" id="home-page">

  <div id="logo">
    <%= image_tag("dindr-logo-highres-black.png") %>
  </div>

  <div id="homepage-button">
    <form class="button" action="/game" method="get">
      <input type="submit" value="Click Here to Dindr" >
    </form>
  </div>

</div>
