<h1 id="home-index">Home</h1>

<div class="projects">
  <form class="food-picture" action="index.html" method="post">
    <input type="hidden" name="picture1" id="rand-1" value="false">
      <div class="pic1">
        <li class="buttons" id="like-button1">| <3 |</li>
        <li class="buttons" id="dislike-button1">| X |</li>
      </div>
      <%= image_tag(@picture1.url, :id => "food-1") %>
  </form>

  <form class="food-picture" action="index.html" method="post">
    <input type="hidden" name="picture2" id="rand-2" value="false">
      <div class="pic2">
        <li class="buttons" id="like-button2">| <3 |</li>
        <li class="buttons" id="dislike-button2">| X |</li>
      </div>
      <%= image_tag(@picture2.url, :id => "food-2") %>
  </form>

  <form class="food-picture" action="index.html" method="post">
    <input type="hidden" name="picture3" id="rand-3" value="false">
      <div class="pic3">
        <li class="buttons" id="like-button3">| <3 |</li>
        <li class="buttons" id="dislike-button3">| X |</li>
      </div>
      <%= image_tag(@picture3.url, :id => "food-3") %>
  </form>
</div>
