<div class="first-set">
    <table>
      <tr>
        <td class="randomized-dish">

            <%= image_tag(@picture1.content.url(:thumb), :class => "food-image", :id => "pic-1", data: {picId: "#{@picture1.id}"} ) %>

        </td>
        <td class="randomized-dish">

            <%= image_tag(@picture2.content.url(:thumb), :class => "food-image" , data: {picId: "#{@picture2.id}"} )%>

        </td>
        <td class="randomized-dish">

            <%= image_tag(@picture3.content.url(:thumb), :class => "food-image", data: {picId: "#{@picture3.id}"}) %>

        </td>
      </tr>
    </table>
</div>
