
  <div class="first-set">

    <div class="randomized-dish hvr-grow">
      <%= image_tag(@picture1.content.url, :class => "food-image", :id => "pic-1", data: {picId: "#{@picture1.id}"} ) %>
    </div>

    <div class="randomized-dish hvr-grow">
      <%= image_tag(@picture2.content.url, :class => "food-image" , data: {picId: "#{@picture2.id}"} )%>
    </div>

    <div class="randomized-dish hvr-grow">
      <%= image_tag(@picture3.content.url, :class => "food-image", data: {picId: "#{@picture3.id}"}) %>
    </div>
  </div>
