<div class="container" id="game-page">

  <div class="page-title">

      <%= image_tag("time-to-dindr.png", id:"time-to-dindr") %>

    <p>Select the photo that looks the most delicious to you!</p>
  </div>

  <!-- Picture set -->

  <div class="pic-sets" data-user="<%= current_user.id %>">
    <%= render 'pictures' %>
  </div>

  <!-- Progress Bar-->

  <div id="progress-anchor"></div>
  <div class="progress-bar">
    <span class="meter"></span>
  </div>

  <!-- Skip pictures button -->

  <div id="skip-button-container">
    <input type="button" id="skip-button" value="Skip!">
  </div>



</div>
