<div class="container" id="game-page">

  <div class="page-title">
    <h1>Game</h1>
    <p>You hungry? Let's play!</p>
  </div>

  <div id="next-pics-button">
    <input type="button" id="next-button" value="Keep Playing!">
  </div>


  <div id="count-votes", data-user= <%= current_user.id %>>
    <input type="button" id="vote" value="Count Votes">
  </div>

  <div class="your-votes">

  </div>

  <div class="pic-sets">
    <div class="first-set">
      <table>
        <tr>
          <td class="randomized-dish">
            <form class="food-picture-form" action="index.html" method="post">
              <%= image_tag(@picture1.url, :class => "food-image dislike", :id => "pic-1", data: {picId: "#{@picture1.id}"} ) %>
            </form>
          </td>
          <td class="randomized-dish">
            <form class="food-picture-form" action="index.html" method="post">
              <%= image_tag(@picture2.url, :class => "food-image dislike", :id => "pic-2", data: {picId: "#{@picture2.id}"}) %>
            </form>
          </td>
          <td class="randomized-dish">
            <form class="food-picture-form" action="index.html" method="post">
              <%= image_tag(@picture3.url, :class => "food-image dislike",:id => "pic-3", data: {picId: "#{@picture3.id}"}) %>
            </form>
          </td>
        </tr>
      </table>
    </div>


</div>
