<div class="container" id="game-page">

  <div class="page-title">
    <h1>Time to DINDR.</h1>
    <!-- <p>You hungry? Let's play!</p> -->
    <p>Select the photo that looks the most delicious to you!</p>
  </div>

  <!-- Reset pictures button -->

  <!-- <div id="reset-pics-button" >
    <input type="button" class="start-button" id="reset-button" value="Play Again!">
  </div> -->

  <!-- Picture set -->

  <div class="pic-sets" data-user="<%= current_user.id %>">
    <%= render 'pictures' %>
  </div>

  <!-- Progress Bar-->

  <div id="progress-anchor"></div>
  <div class="progress-bar">
    <span class="meter"></span>
  </div>

  <!-- Skip pictures button -->

  <!-- <div id="skip-pics-button"> -->
    <input type="button" id="skip-button" value="Skip!">
  <!-- </div> -->



</div>
