<div class="container" id="game-page">

  <div class="page-title">
    <h1>Game</h1>
    <p>You hungry? Let's play!</p>
  </div>

  <div id="reset-pics-button" >
    <input type="button" id="reset-button" value="Start Over!">
  </div>

  <div class="pic-sets" data-user="<%= current_user.id %>">
    <% if @picture1 == true && @picture2 == true && @picture3 == true %>
    <%= render 'pictures' %>
    <% else %>
    <!-- This will have to be changed into an AJAX function -->
    <p>
      No more pictures to render here
    </p>
    <% end %>
  </div>

  <div class="top-cuisines">
    <%= render 'top3_cuisines' %>
  </div>

  <div class="top-tags">
    <%= render 'top3_tags' %>
  </div>

<!-- PROGRESS BAR -->

<div class="progress-bar">
  <span class="meter" style="width: 60%"></span>
</div>

</div>
