<div class="container" id="game-page">

  <div class="page-title">
    <h1>Game</h1>
    <p>You hungry? Let's play!</p>
  </div>

  <div id="reset-pics-button" >
    <input type="button" id="reset-button" value="Start Over!">
  </div>

  <div id="skip-pics-button" >
    <input type="button" id="skip-button" value="Skip!">
  </div>

  <!-- PROGRESS BAR -->

  <div class="progress-bar">
    <span class="meter"></span>
  </div>

  <div id="agg-pics-button" >
    <input type="button" id="agg-button" value="Finished!">
  </div>

  <div class="pic-sets" data-user="<%= current_user.id %>">
    <%= render 'pictures' %>
    <!-- This will have to be changed into an AJAX function -->
  </div>

  <div class="top-cuisines">
    <%= render 'cuisines/top3_cuisines' %>
  </div>

  <div class="top-tags">
    <%= render 'tags/top3_tags' %>
  </div>


</div>
