<div class="container" id="game-page">

  <div class="page-title">
    <h1>Game</h1>
    <p>You hungry? Let's play!</p>
  </div>

  <div id="next-pics-button" >
    <input type="button" id="next-button" value="Keep Playing!">
  </div>

  <div class="pic-sets" data-user="<%= current_user.id %>">
    <%= render 'pictures' %>
  </div>

<!-- PROGRESS BAR -->

<div class="progress-bar">
  <span class="meter" style="width: 60%"></span>
</div>

</div>
