<h1>Game</h1>

<p>You hungry? Let's play!</p>

<div class="next-button">
  <input type="button" id="next-button" value="Keep Playing!">
  <!-- <%= button_tag "Next"%>  -->
</div>

<div class="food-pictures">
  <%= render 'pictures' %>
</div>
