#nav-3 {
  height: 66px;
  margin: auto;
  background-color: rgba(181, 177, 162, 0.9);
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999999;
  opacity: 1;
}

.nav-item {
  display: inline-block;
  @include span-columns(2);
  text-align: center;
  line-height: 70px;
  font-size: 1.7rem;
  border: 1px solid;
  height: 100%;
  img {
    max-height: 100%;
  }
}
