@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";
@import 'footer';
@import 'burgerbar';
@import 'pictures';
@import 'homes';
@import 'modal';
@import 'users';
@import 'admins';
@import 'cuisines';
@import 'restaurants';
@import 'maps';
 @mixin vert-center-header-img {

 }

 *,
 *:after,
 *:before, {
   box-sizing: border-box;
 }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


body {
  margin: 0;
  background-image: url('white-light-paper-fibers-1920x1080.png');
}

.container {
  @include outer-container;
}

label {
  margin: 0;
}

#nav-box {
  min-width: 10rem;
  height: 8rem;
  visibility: hidden;
  // background-color: grey;
  z-index: 99999999999;
  position: absolute;
    border: 2px dashed white;

  // float: left;
  top: 3rem;
  right: 0rem;
  li {
    text-align: right;
    font-size: 1.3rem;
  }
}

.hamburger {
  // float:right;
  font-size: 0.7rem;
  min-height: auto;
  width: auto;
}

.navigation {
  display: inline-block;
  z-index: 999999999;
  height: 7rem;
  width: 5rem;
  position: absolute;
  right: 2.9rem;
  top: 30px;
  border: 2px dashed;
}
