@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";
@import 'pictures';
@import 'nav';
@import 'homes';
@import 'modal';
@import 'users';
@import 'admins';
@import 'cuisines';


 *,
 *:after,
 *:before, {
   box-sizing: border-box;
 }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  background-image: url('white-light-paper-fibers-1920x1080.png');
}

.container {
  @include outer-container;
}

label {
  margin: 0;
}
