
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "base/base";

// We can eventually import our own styles here

 *,
 *:after,
 *:before, {
   box-sizing: border-box;
 }

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

body {
  margin: 0;
}

#dindr-footer {
  background-color: rgba(241, 240, 240, 0.5);
  color: #e7b63f;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  width: 100%;
}

#dindr-navbar {
  overflow: hidden;
  width: 100%;
  background-color: orange;
  margin: 0;
  padding: 0;

}

#home-button img {
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem;
  float: left;
}

#nav-login {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: right;
  padding-right: 1.875rem;
  margin-top: 1.2rem;

}

#nav-login a {
  color: black;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  width: 10rem;
}

#nav-login a:hover {
  background-color: rgba(241, 240, 240, 0.5);
}

.second-set {
  display: none;
}
.third-set {
  display: none;
}
