// Place all the styles related to the Cuisines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#results-page {
  min-height: 65.5rem;
  margin-top: 6rem;
}

#date-page {
  margin-top: 5rem;
  min-height: 55rem;
}

// .top-box {
//   @include span-columns(12);
// }

.top-cuis {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
}

.half-width-container {
  @include span-columns(5.95);
  display: inline-table;
  h3 {
    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;
    text-decoration: underline;
  }
}

#top-cuisines {
  // @include span-columns(6);
  height: 18.75rem;
}

#top-tags {
  // @include span-columns(6);
  height: 18.75rem;
}

.result-restaurants {
  text-align: center;
  margin-top: 5rem;
  // overflow: hidden;
  h1 {
    font-size: 1.6rem;
  }
}

.each-rest {
  float: left;
  display: inline-block;
  padding: 2rem;
  width: 33.3%;
  border: 2px solid black;
  border-radius: 5px;
  min-height: 28rem;
}

.cats {
  list-style-type: none;
}

.cats-list {
  font-size: 1.15rem;
  width: 60%;
}
.tags {
  padding: 0 3rem;
  .tags-list {
    padding: 1rem;
    font-size: 1.6rem;
    list-style-type: none;
    text-align: center;
  }
}

.nearby-restaurants {
  margin-top: 1rem;
}

.outsource {
  text-align: center;
}

.cuisine-title {
  text-align: center;
}


// Trying to Create Cards like HomePage

#results-card-container {
  display: block;
  height: 100%;
  padding: 4rem 0 0 0 ;
}

#results-card-set {
  @include fill-parent();
  display: block;
  margin: 0 auto;
  position: relative;
  height: 500px;
}
  .card {
    height: 450px;
    width: 33.33333%;
    background: #fff;
    float: left;
    display: inline;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.3);
    border-radius: 7px;
    position: absolute;
    text-align: center;
    padding: 50px 30px;
    &:nth-child(2) {
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
      height: 500px;
      width: 35%;
      padding-top: 75px;
      padding-bottom: 75px;
    }
    &:nth-child(3) {
      right: 0;
    }

  .icon {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 2em;
    background: #eee;
    box-shadow: 0 0 0 4px #ddd;
    img {
      width: 100%;
      height: 100%;
      padding: 15%;
    }
  }
  h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.3em;
    margin-bottom: .6em;
    color: #2C3E50;
  }
  p {
    color: rgba(0,0,0,0.5);
    font-size: .8em;
    margin-bottom: 2em;
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: #F3B12F;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
  }
}
