// ----------------------------------------------------------------------------
// This sheet contains all the styles for home page //-------------------------
// ----------------------------------------------------------------------------

#home-page {
  margin-top: 4rem;
  min-height: 40.5rem;
}

.image-gradient-dynamic {
  line-height: 0;
  position: relative;
  top: 0;
  img {
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 0;
  }
}

// Arrow Styling

.arrow-box-1 {
  width: 80px;
  height: 50px;
  margin: auto;
}

.arrow-box-2 {
  width: 80px;
  height: 50px;
  margin: 6rem auto 19rem;
}

#arrow-1 {
  cursor: pointer;
  border-right: 15px solid white;
  border-bottom: 15px solid white;
  width: 65px;
  height: 65px;
  transform: rotate(45deg);
  margin: 0 auto;
  position: relative;

// For 15-inch screens:
  top: -300px;

// 13-inch:
  @media (max-width: 1500px) {
    top: -180px;
  }
  // 11-inch:
  @media (max-width: 950px) {
    top: -125px;
  }

  @media (max-width: 667px) {
    top: -115px;
  }
  @media (max-width: 500px) {
    top: -70px;
    width: 40px;
    height: 40px;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
}

#arrow-2 {
  cursor: pointer;
  border-right: 15px solid black;
  border-bottom: 15px solid black;
  width: 65px;
  height: 65px;
  transform: rotate(45deg);
  position: relative;
  top: 0;
}

// Bullet List

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  line-height: 1.6;
}

#card-container {
  display: block;
  height: 100%;
  padding: 9rem 0 0 0 ;
}

#card-set {
  @include fill-parent();
  display: block;
  margin: 0 auto;
  position: relative;
  height: 500px;
}
  .card {
    height: 450px;
    width: 33.33333%;
    background: #fff;
    float: left;
    display: inline;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.3);
    border-radius: 7px;
    position: absolute;
    text-align: center;
    padding: 50px 30px;
    &:nth-child(2) {
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
      height: 500px;
      width: 35%;
      padding-top: 75px;
      padding-bottom: 75px;
    }
    &:nth-child(3) {
      right: 0;
    }

  .icon {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 2em;
    background: #eee;
    box-shadow: 0 0 0 4px #ddd;
    img {
      width: 100%;
      height: 100%;
      padding: 15%;
    }
  }
  h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.3em;
    margin-bottom: .6em;
    color: #2C3E50;
  }
  p {
    color: rgba(0,0,0,0.5);
    font-size: .8em;
    margin-bottom: 2em;
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: #F3B12F;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
  }
}

#homepage-button {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  z-index: 9999999999;
  cursor: pointer;
  height: auto;
}

// #open-sign-in {
//   width: 500px;
//   height: 140px;
//   font-size: 2.5rem
// }

// Carousel

.snapwidget-widget {
  border:none;
  overflow:hidden;
  width:100%;
  text-align: center;
}

// Arrow Hover Animation

.hvr-bob {
  display: inline-block;
  width: 80px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

#homepage-widget {

  margin: 10rem auto 0 3.8%;
}
