// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-index {
  text-align: center;
}

.food-picture {
  margin-left: auto;
  margin-right: auto;
}

#food-1 {
  width: 33%;
  height: 33%;
}

#food-2 {
  width: 33%;
  height: 33%;
}

#food-3 {
  width: 33%;
  height: 33%;
}

.buttons {
  display: inline;
  list-style-type: none;
}

#dislike-button1 {
  margin-left: 12.5rem;
}

#dislike-button2 {
  margin-left: 12.5rem;
}

#dislike-button3 {
  margin-left: 12.5rem;
}
