#invite-container1 {
  overflow-x: hidden;
}

#invite-container2 {
  overflow-x: hidden;
  padding-top: 4rem;
}

.user-profile {
  em {
    font-weight: bold;
  }
}

.request-inv {
  overflow: hidden;
  float: left;
  width: 50%;
  border: solid 2px black;
  list-style-type: none;
  img {
    height: 10rem;
    width: 10rem;
  }
}

.pending-inv {
  overflow: hidden;
  float: left;
  width: 50%;
  border: solid 2px black;
  list-style-type: none;
  img {
    height: 10rem;
    width: 10rem;
  }
}

.inv-accepted {
  background-color: #5CEC31;
}
