#dindr-date-invitations {
  margin-top: 4rem;
  text-align: center;
  h1 {
    font-size: 2rem;
  }
}

// Date Requests
.requests {
  h2 {
    text-align: center;
  }
}

.request-inv {
  overflow: hidden;
  float: right;
  width: 30%;
  border: solid 2px black;
  list-style-type: none;
  padding: 1rem;
  img {
    height: 10rem;
    width: 10rem;
  }
}

// Dates Pending

.pending {
  h2 {
    text-align: center;
  }
}


.pending-inv {
  overflow: hidden;
  float: left;
  width: 33%;
  border: solid 2px black;
  list-style-type: none;
  padding: 1rem;
  img {
    height: 10rem;
    width: 10rem;
  }
}


.inv-accepted {
  background-color: #5CEC31;
}

.req {
  text-align: center;
}

.acpt {
  text-align: center;
}


// Trying to Create Cards like HomePage

.invitation-card-container {
  display: block;
  height: 100%;
  padding: 1rem 0 0 0 ;
}

.invitation-card-set {
  @include fill-parent();
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  height: 500px;
}
  .invitation-card {
    height: 450px;
    width: 33.33333%;
    background: #fff;
    // float: left;
    // display: inline;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.3);
    border-radius: 7px;
    position: absolute;
    text-align: center;
    padding: 50px 30px;
    &:nth-child(2) {
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
      height: 500px;
      width: 35%;
      padding-top: 75px;
      padding-bottom: 75px;
    }
    &:nth-child(3) {
      right: 0;
    }

  .invitation-icon img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 2em;
    background: #eee;
    box-shadow: 0 0 0 4px #ddd;
  }
  h1 {
    font-family: "Varela Round", sans-serif;
    font-size: 1.3em;
    margin-bottom: .6em;
    color: #2C3E50;
  }
  p {
    color: rgba(0,0,0,0.5);
    font-size: .8em;
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }
  a {
    text-decoration: none;
    color: #F3B12F;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;
  }
}


// Results Page - Move to User.scss

// .dindr-date-layout {
//   overflow: hidden;
// }
//
// .dindr-date-box {
//   float: left;
//   width: 33%;
// }
//
// .dindr-date-info {
//   text-align: center;
// }
