@import "grid-settings";

#game-page {
  margin-top: 5rem;
  min-height: 55rem;
}

#home-page {
  padding-bottom: 5rem;
}
.page-title {
  text-align: center;
  margin: 3rem;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.25rem;
  }
}
#reset-pics-button {
  text-align: center;
  // font-size: 50px;
}

#skip-pics-button {
  text-align: center;
  padding: 2rem 0;
}

.button_to {
  text-align: center;
  padding-top: 2rem;
}



.pic-sets {
  @include outer-container(100%);
  margin: 10rem 0;
  #no-pics {
    font-size: 2rem;
    text-align: center;
  }
}

.first-set {
  @include fill-parent;
  -webkit-animation: fadein 0.8s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.randomized-dish {
  @include span-columns(4);
}

.image-gradient-dynamic {
  line-height: 0;
  position: relative;
  width: 100%;
}

// ----------------------------------------------------------------------------
// Main Pg. Bullet List
// ----------------------------------------------------------------------------
#bullets {
  @include outer-container;
  margin-left: 30px;
  // margin-top: 15rem;
  // border: 1px solid;
}
.bullets {
  $base-line-height: 1.5em !default;
  $action-color: #95CD44 !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-bullet-size: 6em;

  @include fill-parent;
  @include row(table);
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 1rem;
  margin-bottom: $base-line-height;
  overflow: auto;
  padding: 0;

  .bullet {
    @include span-columns(4 of 12);
    flex-basis: 20em;
    flex-grow: 1;
  }

  .bullet-icon {
    // background: $action-color;
    border-radius: 50%;
    float: left;
    height: $icon-bullet-size;
    padding: $icon-bullet-size / 6;
    width: $icon-bullet-size;
  }

  .bullet-icon-1 {
    // background: adjust-hue($action-color, -200%);
    img {
      width: 100%;
      height: 100%;
    }
  }

  .bullet-icon-2 {
    // background: adjust-hue($action-color, -590%);
    img {
      padding-bottom: 4rem;
    }
  }

  .bullet-icon-3 {
    // background: adjust-hue($action-color, -1040%);
  }

  .bullet-content {
    margin-bottom: 2em;
    margin-left: $icon-bullet-size * 1.4;
    p {
      font-size: 1.7rem;
    }
  }

  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    display: inline-block;
    font-size: $icon-bullet-size / 3;
    margin: 0 0 ($icon-bullet-size / 6) 0;
    padding-top: $icon-bullet-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
}

// ----------------------------------------------------------------------------
// PROGRESS BAR
// ----------------------------------------------------------------------------

.progress-bar {
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: 0.7s;
  $progress-height: 30px;

  background-color: $progress-background;
  border: $progress-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), 0.15);
  height: $progress-height;
  margin: 0 auto;
  padding: 2px;
  width: 100%;

  > span.meter {
    animation: progress $progress-animation-duration linear infinite;
    background-color: $progress-meter-color;
    background-image: linear-gradient(
                        -45deg, rgba(#fff, 0.15) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(#fff, 0.15) 50%,
                        rgba(#fff, 0.15) 75%,
                        transparent 75%
                      );
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: $progress-meter-border;
    border-radius: $base-border-radius / 1.5;
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 1%;
  }
}

.progress-bar.stick {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 85%;
}

@-webkit-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-moz-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-ms-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@-o-keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}

//

.pic-sets{
  position: relative;
}

.food-image {
  border-radius: 10%;
}

.on-like {
  left: 110%
}

#agg-pics-button {
  display: none;

  &.enough-votes{
    display: block;
  }
}

i {
  image: 4rem;

}

// Hover Animations

// Grow

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.064);
  transform: scale(1.064);
}

// Bob

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
