#profile-page {
  padding-top: 5rem;
  min-height: 47.5rem;
  overflow: hidden;
  li {
    list-style: none;
  }
}

.user-profile {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  em {
    font-weight: bold;
  }
}

#profile-page-options {
  margin: 0 auto;
  text-align: center;
}

.profile-page-options ul{
  overflow:hidden;
}

.profile-page-options li{
  display:inline-block;
  padding: 20px 10px;
}

// .user-profile {
//   float: left;
// }

#new-user-page {
  padding-top: 5rem;
  min-height: 47.5rem;
  h1 {
    font-size: 2rem;
    padding-bottom: 1.6rem;
    text-align: center;
  }
  li {
    list-style: none;
  }
  input {
    margin: 1.4rem 0;
  }
  .action {
    margin: 1.7rem auto;
  }
}

#edit-user-page {
  min-height: 50rem;
  h1 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

}

.edit-user-button {
  width: 10%;
  margin: 8% auto;
}
