<div class="navigation">
  <div class='hamburger'>
    <div class='menu-trigger'>
      <span>Menu</span>
    </div>
  </div>

  <div id="nav-box">
    <li><a href="">signed in as: </a></li>
    <li><a href="">my profile</a></li>
    <li><a href="">dindr dates</a></li>
    <li><a href="">log out</a></li>
  </div>
</div>
