<!-- Footer -->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <%= link_to image_tag('dindr-littlered-d.png'), homes_path %>
  </div>


    <div class="footer-secondary-links">

      <ul>
        <li><a href="https://profiles.bitmaker.co/students/ariane-deschenes-foucher" target="_blank">
          Ariane Bieber
        </a></li>
        <li><a href="https://profiles.bitmaker.co/students/kim-oleiro" target="_blank">
          Kimberly O.
        </a></li>
        <li><a href="https://profiles.bitmaker.co/students/hou-tai-wong" target="_blank">
          Hou-Tai W.
        </a></li>
        <li><a href="https://profiles.bitmaker.co/students/dennis-choi" target="_blank">
          Dennis C.
        </a></li>
        <li><a href="https://profiles.bitmaker.co/students/mike-thai" target="_blank">
          Mike T.
        </a></li>
      </ul>
    </div>
</footer>
