<!-- This is the navbar for all the pages aside from the homepage. -->

<div id="nav-2">
  <ul class="nav">
    <li class="nav-item"><a href="about.html">My Profile</a></li>
    <li class="nav-item"><a href="">what else</a></li>
    <li class="nav-item"><a href="#">should be in</a></li>
    <li class="nav-item"><a href="#">this navbar?</a></li>
  </ul>
</div>
