<!-- This is the navbar for all the pages aside from the homepage. -->

<div id="nav-2">
  <ul class="nav">
    <li class="nav-item"><a href="about.html">My Profile</a></li>
    <li class="nav-item"></li>
    <li class="nav-item"></li>
    <li class="nav-item"></li>
    <li class="nav-item"></li>
    <li class="nav-item"><%= render 'layouts/burger' %></li>

  </ul>
</div>
